<div id="filter-select">
  <%= form_tag movies_path, method: :get, remote: true do %>
    <%= label_tag "quality",t("movies.quality") %>
    <select  class="filter-quality" id="<%= @movie.id %>">
      <option value="low" selected>360</option>
      <% if @link_medium.present? %>
        <option value="medium">480</option>
      <% end %>
      <% if @link_hd.present? %>
        <option value="higth">720</option>
      <% end %>
    </select>
  <% end %>
</div>
