<div id="filter-select">
  <%= form_tag movies_path, method: :get, remote: true do %>
    <%= label_tag "quality",t("movies.quality") %>
    <%= select_tag "quality", options_from_collection_for_select(Settings.qualities, "first", "last"),
      class: "filter-quality", id: @movie.id %>
  <% end %>
</div>
