<li>
  <%= link_to movie_path(movie) do %>
    <%= image_tag movie.photo, class: "img-thumbnail resize-img-thumbnail",
      data: {title: movie.title, content: "", trigger: "hover", placement: "bottom",
      description: movie.description, publish_date: movie.year_number,
      image: Settings.images.stream.hd_1080,  movie_id: movie.id, html: true}, rel: "popover" %>
  <% end %>
  <p class="movie-title text-warning"><%= movie.title %></p>
</li>
