<h3 class="text-left text-warning">>> <%= t "movies.show.movie_suggestion" %></h3>
<div class="wall">
  <ul class="list-unstyled list-inline">
    <%= render partial: "movie", collection: @movie_suggestions, as: :movie %>
  </ul>
</div>

