<% meta title: t("app_name"), description: t("description"),
  keywords: %w(movies khmer moviehd moviehdkh watch) %>
<% content_for :context_menu do %>
  <div class="container">
    <hr/>
    <% if @movies.present? %>
      <div class="new-movie">
        <%= render "content_new_movie" %>
      </div>
      <div id="paginator-new-movie">
        <%= render "shared/pagenator", objects: @movies, page: 1 %>
      </div>
    <% end %>
  </div>
<% end %>
