<div class="row">
  <div class="col-md-12">
    <div style="margin-bottom: 300px;">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ads_homepage -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-1391132134348179"
           data-ad-slot="2008653046"
           data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <!–google_ad_section_start-0><!–google_ad_section_start(weight=ignore)–>
    <h1>Intro To Insurance</h1>
    <div class="details">
      <h3>I. Introduction</h3>
      <p>
        In one form or another, we all own insurance. Whether it's auto, medical, liability, disability or life, insurance serves as an excellent risk-management and wealth-preservation tool. Having the right kind of insurance is a critical component of any good financial plan. While most of us own insurance, many of us don't understand what it is or how it works. In this tutorial, we'll review the basics of insurance and how it works, then take you through the main types of insurance out there.
      </p>
      <h3>What Is Insurance?</h3>
      <p>
       Insurance is a form of risk management in which the insured transfers the cost of potential loss to another entity in exchange for monetary compensation known as the premium.
      </p>

      <p>
       Insurance allows individuals, businesses and other entities to protect themselves against significant potential losses and financial hardship at a reasonably affordable rate. We say "significant" because if the potential loss is small, then it doesn't make sense to pay a premium to protect against the loss. After all, you would not pay a monthly premium to protect against a $50 loss because this would not be considered a financial hardship for most.

        nsurance is appropriate when you want to protect against a significant monetary loss. Take life insurance as an example. If you are the primary breadwinner in your home, the loss of income that your family would experience as a result of our premature death is considered a significant loss and hardship that you should protect them against. It would be very difficult for your family to replace your income, so the monthly premiums ensure that if you die, your income will be replaced by the insured amount. The same principle applies to many other forms of insurance. If the potential loss will have a detrimental effect on the person or entity, insurance makes sense.
      </p>
      <p>
        Everyone that wants to protect themselves or someone else against financial hardship should consider insurance. This may include:

        - Protecting family after one's death from loss of income
        - Ensuring debt repayment after death
        - Covering contingent liabilities
        - Protecting against the death of a key employee or person in your business
        - Buying out a partner or co-shareholder after his or her death
        - Protecting your business from business interruption and loss of income
        - Protecting yourself against unforeseeable health expenses
        - Protecting your home against theft, fire, flood and other hazards
        - Protecting yourself against lawsuits
        - Protecting yourself in the event of disability
        - Protecting your car against theft or losses incurred because of accidents
        - And many more

      </p>
      <h3>Mortgage insurance</h3>
      <p>
        Mortgage Insurance (also known as mortgage guarantee and home-loan insurance) is an insurance policy which compensates lenders or investors for losses due to the default of a mortgage loan. Mortgage insurance can be either public or private depending upon the insurer. The policy is also known as a mortgage indemnity guarantee (MIG), particularly in the UK.
        Private mortgage insurance is typically required when down payments are below 20%. Rates can range from 0.32% to 1.20% of the principal of the loan per year based upon loan factors such as the percent of the loan insured, loan-to-value (LTV), fixed or variable, and credit score.[1] The rates may be paid in a single lump sum, annually, monthly, or in some combination of the two (split premiums). In the U.S., payments by the borrower were tax-deductible until 2010.
      </p>
      <h3>Loan</h3>
      <p>
        In finance, a loan is a debt provided by an entity (organization or individual) to another entity at an interest rate, and evidenced by a note which specifies, among other things, the principal amount, interest rate, and date of repayment. A loan entails the reallocation of the subject asset(s) for a period of time, between the lender and the borrower.

        In a loan, the borrower initially receives or borrows an amount of money, called the principal, from the lender, and is obligated to pay back or repay an equal amount of money to the lender at a later time.

        The loan is generally provided at a cost, referred to as interest on the debt, which provides an incentive for the lender to engage in the loan. In a legal loan, each of these obligations and restrictions is enforced by contract, which can also place the borrower under additional restrictions known as loan covenants. Although this article focuses on monetary loans, in practice any material object might be lent.

        Acting as a provider of loans is one of the principal tasks for financial institutions. For other institutions, issuing of debt contracts such as bonds is a typical source of funding.
      </p>
      <h3>Web hosting service</h3>
      <p>
        A web hosting service is a type of Internet hosting service that allows individuals and organizations to make their website accessible via the World Wide Web. Web hosts are companies that provide space on a server owned or leased for use by clients, as well as providing Internet connectivity, typically in a data center. Web hosts can also provide data center space and connectivity to the Internet for other servers located in their data center, called colocation, also known as Housing in Latin America or France.

        The scope of web hosting services varies greatly. The most basic is web page and small-scale file hosting, where files can be uploaded via File Transfer Protocol (FTP) or a Web interface. The files are usually delivered to the Web "as is" or with minimal processing. Many Internet service providers (ISPs) offer this service free to subscribers. Individuals and organizations may also obtain Web page hosting from alternative service providers. Personal web site hosting is typically free, advertisement-sponsored, or inexpensive. Business web site hosting often has a higher expense depending upon the size and type of the site.

        Single page hosting is generally sufficient for personal web pages. A complex site calls for a more comprehensive package that provides database support and application development platforms (e.g. PHP, Java, Ruby on Rails, ColdFusion, or ASP.NET). These facilities allow customers to write or install scripts for applications like forums and content management. Also, Secure Sockets Layer (SSL) is typically used for websites that wish to keep the data transmitted more secure.

        The host may also provide an interface or control panel for managing the Web server and installing scripts, as well as other modules and service applications like e-mail. A web server that does not use a control panel for managing the hosting account, is often referred to as a "headless" server. Some hosts specialize in certain software or services (e.g. e-commerce, blogs, etc.).
      </p>
      <p>Types of hosting:</p>
      <p>
        Many large companies that are not Internet service providers need to be permanently connected to the web to send email, files, etc. to other sites. The company may use the computer as a website host to provide details of their goods and services and facilities for online orders.
        - Free web hosting service
        - Shared web hosting service
        - Reseller web hosting
        - Virtual Dedicated Server
        - Dedicated hosting service
        - Managed hosting service
        - Colocation web hosting service
        - Cloud hosting
        - Clustered hosting
        - Grid hosting
        - Home server
      </p>
    </div>
    <!–google_ad_section_end–>
  </div>
</div>
