<div class="container">
  <table>
    <thead>
      <tr><th>■ If you are using DNS 8.8.8.8 and 8.8.4.4 and you can not watch movie with announce "Errors loading media: File could not be played", so you need to change your DNS to 208.67.222.222 and 208.67.220.220, if you don't know how to change DNS please read this article.</th></tr>
      <tr><th>■ If you see the announce "Error loading player: No playable source found", please chat to us in our page facebook <%= link_to "contact us with Facebook", "https://www.facebook.com/messages/moviehdkh" %> </th></tr>
    </thead>
  </table>
</div>
