<div class="container" id="announced">
  <table>
    <thead>
      <tr><th>■ If you can not see the movie please reload page again one or more time</th></tr>
      <tr><th>■ If you see the announce "Error loading player: No playable source found", please chat to us in our page facebook <%= link_to "contact us with Facebook", "https://www.facebook.com/messages/moviehdkh" %> </th></tr>
    </thead>
  </table>
</div>
