<li>
  <a href="<%= coming_soon_movie.link %>" title="<%= coming_soon_movie.title %>">
    <%= image_tag coming_soon_movie.photo, class: "img-thumbnail resize-photo-movie", title: coming_soon_movie.title %>
  </a>
  <p class="movie-title text-warning"><%= coming_soon_movie.title %></p>
</li>
