<div class="facebook bagde">
  <%= link_to "https://www.facebook.com/dialog/share?
    app_id=105132389905258&href=#{request.original_url}&redirect_uri=#{request.original_url}" do %>
    <%= image_tag "facebook.png", id: "share-fb" %>
  <% end %>
</div>
