<div class="facebook">
  <div class="fb-like"
    data-href="https://www.facebook.com/Moviehd-KH-1620874931515181/"
    data-layout="button_count" data-action="like" data-show-faces="true"
    data-share="true">
  </div>
</div>
