<footer>
  <div class="container">
    <hr>
    <div class="row" id="flooter">
      <div class="col-sm-4">
        <%= t "layouts.title" %>
      </div>
      <div class="col-sm-4">
         <%= t "layouts.location" %>
      </div>
      <div class="col-sm-4">
         <%= t "layouts.email" %>
      </div>
    </div>
  </div>
<footer>
