<video id="video" class="video-js vjs-default-skin" controls
 preload="auto" width="700" height="400" autoplay data-setup='{}'>
  <% if @link_video.present? %>
    <% @link_video.each do |link_video| %>
      <source src="<%= link_video.link %>" type="video/mp4" label="<%= link_video.quality %>" data-res="<%= link_video.quality %>">
    <% end %>
  <% end %>
  <% if @movie.link.subtitle.present? %>
    <track label="English" kind="subtitles" srclang="en" src="<%= @movie.link.subtitle %>" default>
  <% end %>
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser
    that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>
<script type="text/javascript">
  videojs( '#video', { plugins : { resolutionSelector : {
    default_res : "360"
} } } );
</script>
