<li>
  <a href="<%= po_pular_movie.link %>" title="<%= po_pular_movie.title %>">
    <%= image_tag po_pular_movie.photo, class: "img-thumbnail resize-photo-movie", title: po_pular_movie.title %>
  </a>
  <p class="movie-title text-warning"><%= po_pular_movie.title %></p>
</li>
