<li>
  <a href="<%= request_movie.link %>" title="<%= request_movie.title %>">
    <%= image_tag request_movie.photo, class: "img-thumbnail resize-photo-movie", title: request_movie.title %>
  </a>
  <p class="movie-title text-warning"><%= request_movie.title %></p>
</li>
