<%= search_form_for @q do |f| %>
  <div class="form-group">
    <%= f.search_field :title_cont, class: "form-control text-right",
      id: "search-movie", placeholder: "Search", autocomplete: :off %>
  </div>
<% end %>
