.category {
  ul {
    margin-left: 5%;
    margin-top: 20px;
    position: static;
    li {
      margin-top: 20px;
      width: calc(20% - 12px);
      .resize-img-thumbnail {
        width: 125px;
        height: 180px;
      }
    }
  }

  .image-hd-movie {
    position: relative;
    float: right;
    width: 40px;
    height: 28px;
    bottom: 7px;
  }

  .popover {
    max-width: 200;
    min-width: 200;
  }

  .movie-title {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  #category-name {
    margin-top: 60px;
    margin-left: 113px;
    color: #a78613;
  }
}
