body {
  margin-top: 20px;
  color: #aaa;
  background: #222;
  font-family: "MotionPicture_PersonalUseOnly.ttf";
  src: url("fonts/MotionPicture_PersonalUseOnly.ttf");
  font-size: 16px;
  h1 {line-height: 1.2em}
  padding-top: 135px;
}

#header-logo {
  height: 65px;
  width: 176px;
}

.header-item {
  margin-top: 20px;
}

ul.list-movie {
  overflow:hidden;

  li {
    display:inline-block;
  }
}

img.movie-img {
  padding-bottom: 15px;
  height: 385px;
  width: 290px;
}

.slide-img {
  height: 450px !important;
  width: 100%;
}

#extensive {
  height: 370px;
  width: 100% !important;
}
