body {
  margin-top: 20px;
  background: #222;
  text-align: center;
  color: #aaa;
  font-family: "MotionPicture_PersonalUseOnly.ttf";
  src: url("fonts/MotionPicture_PersonalUseOnly.ttf");
  background: radial-gradient(#333, hsl(200,30%,6%));
  font-size: 16px;
  h1 {line-height: 1.2em}

  #wrapper {
    .navbar {
      .row {
        .logo {
          text-align: center;
        }
        .link_login {
          float: right;
        }
      }
    }

    #main-nav {
      margin-top: 100px;
      position: relative;
    }
  }

  #modal_form_login {
    text-align: center;
  }

  .resize-photo {
    height: 500px !important;
    width: calc(80%) !important;
    margin-left: 10%;
  }

  #search-movie {
    margin-top: 11px;
    height: 27px;
    width: 250px;
  }

  #logo-page {
    height: 40px;
    width: 130px;
  }

  .pagination > li > a, .pagination > li > span {
    position: relative;
    border: 1px solid #ddd;
    float: none;
    border-radius: 50%;
    margin-left: 10px;
    font-size: 15px;
  }

  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #13AD2F;
    border-color: #337ab7;
    cursor: default;
    border-radius: 50%;
  }
  .pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span, .pagination > li:first-child > a, .pagination > li:first-child > span {
    border-radius: 50%;
  }

  #main-movie {
    ul {
      position: static;
      li {
        margin-top: 20px;
        width: calc(20% - 12px);
        .resize-img-thumbnail {
          width: 125px;
          height: 180px;
        }
      }
    }
  }

  .label-publish-date {
    display: none;
    font-size: 10px;
  }

  .image-hd-movie {
    position: relative;
    float: right;
    width: 40px;
    height: 28px;
    bottom: 7px;
  }

  .movie-title {
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
  }

  .main-preview-player {
    text-align: center;
    max-width: 1920px;
  }
}

.facebook {
  color: #7C97E0;

  #share-fb {
    width: 80px;
    height: 30px;
  }
}

footer {
  margin-bottom: 5px;
  #page-facebook-title {
    margin-bottom: 10px;
  }

  #category-name-footer {
    font-size: 25px;

    .span_category {
      clear: both;
      margin-right: 10px;
    }
    a {
      color: #000000;
      font-size: 17px;
    }
  }
  .social-network {
    float: left;
    margin-top: 12px;

    #youtube-logo, #plus-logo {
      width: 60px;
      height: 25px;
      margin-right: 10px;
    }
  }
}

#player_logo{
  position: absolute;
  margin-left: 504px;
  z-index: 500px;
  width: 200px;
}

.resize-photo-movie {
    width: 207px;
    height: 306px;
}

.vjs-menu li.vjs-selected, .vjs-menu li.vjs-selected:focus, .vjs-menu li.vjs-selected:hover {
  background-color: #fff;
  color: #E60B0B;
}

.vjs-resolution-button ul.vjs-menu-content {
  width: 4em !important;
  margin-top: -55px;
}

#___gcse_0 {
  width: 300px;
}

input.gsc-search-button-v2 {
  width: 5px !important;
  height: 13px !important;
  padding: 11px 27px !important;
  margin-top: 4px !important;
}

.gsc-input {
  width: 100%;
  padding: 0px;
  border: none;
  margin: 0px;
  height: auto;
  outline: none;
  background: none;
  margin-top: -5px !important;
}

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    border-color: #666666;
    background-color: #CECECE;
    background-image: none !important;
    filter: none;
    background: url(http://www.fancyicons.com/free-icons/103/mimi-deep-colour/png/24/search_24.png)  0% 0% no-repeat rgb(255, 255, 255)!important;
}

.gsc-control-cse {
  font-family: Arial, sans-serif !important;
  border-color: #080808 !important;
  background-color: #131212 !important;
}

.navbar-default {
  background-color: #131212;
  border-color: #e7e7e7;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px;
}

.navbar-default .navbar-nav>li>a {
  color: #FFD800;
  font-weight: bold;
}

.text-warning {
  color: #FFD800 !important;
}

.content-ads{
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: relative;

  .ads {
    position: absolute;
    top: 0px;
    left: 0px
  }
}

#announced {
  margin-top: 73px;
}
