body {
  margin-top: 20px;
  background: #222;
  text-align: center;
  color: #aaa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: radial-gradient(#333, hsl(200,30%,6%));

  #wrapper {
    .navbar {
      .row {
        margin-top: 10px;
        .logo {
          text-align: center;
        }

        .dynamic_menu {
        }

        .header_right {
        }

        .link_login {
          float: right;
        }
      }
    }

    #main-nav {
      position: relative;
      height: 500px;
    }

    #main {
      #sidebar_right {
      }

      #content {
      }

      #sidebar_left {
      }
    }
  }

  #modal_form_login {
    text-align: center;
  }

  .resize-photo {
    height: 500px !important;
    width: calc(80%) !important;
    margin-left: 10%;
  }
}
