.menu-top {
  position: inherit;
  margin-left: 5%;
  li {
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    font-family: "MotionPicture_PersonalUseOnly.ttf";
    src: url("fonts/MotionPicture_PersonalUseOnly.ttf");
    a {
      color: black;
    }
  }
}
