<% meta title: t("app_category", category: @category.name), description: t("description"),
  keywords: %w(movies khmer moviehd moviehdkh watch) %>
<div class="container">
  <%= render "shared/google_advertise" %>
  <% if @movies.present? %>
    <div class="category">
      <h2 class="text-left" id="category-name"><%= @category.name %></h2>
      <hr/>
      <div id="SC_TBlock_108990" class="SC_TBlock">loading...</div>
      <script type="text/javascript">var SC_CId = "108990",SC_Domain="n.ads3-adnow.com";SC_Start_108990=(new Date).getTime();</script>
      <script type="text/javascript" src="http://st.n.ads3-adnow.com/js/adv_out.js"></script>
      <ul class="list-unstyled list-inline">
        <%= render @movies %>
      </ul>
      <%= paginate @movies %>
    </div>
  <% end %>
</div>
